.program {
  background-color: var(--bg-color-prog);
  border-bottom-right-radius: 42px;
}

.program h2 {
  color: var(--font-color-three);
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid var(--font-color-two);
  width: 50%;
  margin-top: 15px;
  margin-bottom: 35px;
}

.program__container {
  display: flex;
  flex-direction: column;
}

.program__container__content {
  background-color: var(--bg-color-content);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex: 1 1 0;
}

.program__container__content img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.program__container__content h3 {
  color: var(--font-color-two);
  font-size: 21px;
  font-weight: 600;
  margin: 20px;
}

.program__container__content p {
  color: var(--font-color-three);
  font-weight: 600;
  font-size: 15px;
  margin: 10px;
}

.program__container button {
  background-color: var(--font-color-two);
  color: var(--font-color-three);
  font-weight: 600;
  font-size: 15px;
  padding: 20px;
  border-style: none;
  width: 250px;
  margin: 20px auto;
  border-radius: 4px;
}

.program__container button:hover {
  background-color: var(--font-color-three);
  color: var(--font-color-two);
}

.program a {
  color: var(--font-color-three);
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
  margin-left: 600px;
}

@media screen and (min-width: 768px) {
  .program__container {
    flex-direction: row;
    padding: 50px;
  }

  .program__container__content {
    flex-direction: column;
  }

  .program__container button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .program a {
    display: none;
  }
}
